ServiceChecker4_8/Connected Services/Meb/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommonLibrary.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommonLibrary.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UygulamaBilgileri">
    <xs:sequence>
      <xs:element minOccurs="0" name="KullaniciAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KullaniciSifre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UygulamaNo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UygulamaBilgileri" nillable="true" type="tns:UygulamaBilgileri" />
</xs:schema>